.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent;
}

.navbar {
    background-color: #2C4251!important;
}

.navbar-brand {
    color: #FF784F;
    font-weight: 500;
}

.navbar-brand:hover {
    color: #FFFFFF;
    font-weight: 500;
}

.nav-item {
    color: white;
}

a.nav-link {
    color: white;
}