.media img {
    width: 30%;
}

.btn-primary {
    color: #fff;
    background-color: #2C4251;
    border-color: #2C4251;
}

.btn-primary:hover {
    color: #2C4251;
    background-color: #FF784F;
    border-color: #FF784F;
}

.btn-secondary {
    color: #ffffff;
    background-color: #FF784F;
    border-color: #FF784F;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #2C4251;
    border-color: #2C4251;
}